## Homework Solutions

1) Write a program for DataFrame Filtering using ```Query() ```

In [2]:
# dataframe creation
import pandas as pd
Core_Dataframe = pd.DataFrame({'Emp_No': ['Emp1','Emp2','Emp3','Emp4'],
'Employee_Name':  ['Aron', 'sharon', 'claire', 'Sam'],
'Employee_dept': ['CAD', 'CAD', 'DEV', 'CAD']})
print("   THE CORE DATAFRAME ")
print(Core_Dataframe)  
print("")     
# Dataframe query
Queried_Dataframe = Core_Dataframe.query('Employee_dept == "CAD"')
print("   THE QUERIED DATAFRAME ")
print(Queried_Dataframe)
print("")

   THE CORE DATAFRAME
  Emp_No Employee_Name Employee_dept
0   Emp1          Aron           CAD
1   Emp2        sharon           CAD
2   Emp3        claire           DEV
3   Emp4           Sam           CAD

   THE QUERIED DATAFRAME
  Emp_No Employee_Name Employee_dept
0   Emp1          Aron           CAD
1   Emp2        sharon           CAD
3   Emp4           Sam           CAD

2) Python code to demonstrate how to use ```merge()``` function to perform an outer join on two DataFrames using Pandas library

In [1]:
import pandas as pd

# Create the first DataFrame
df1 = pd.DataFrame({'A': [1, 3, 5], 'B': [2, 4, 6]})

# Create the second DataFrame
df2 = pd.DataFrame({'A': [1, 3, 7], 'C': [10, 11, 12]})

# Perform outer join using merge() function
result = pd.merge(df1, df2, on='A', how='outer')

# Print the result
print(result)

   A    B     C
0  1  2.0  10.0
1  3  4.0  11.0
2  5  6.0   NaN
3  7  NaN  12.0

3) Add data on the dataset using Left join

In [2]:
# importing pandas
import pandas as pd

# Creating dataframe a
a = pd.DataFrame()

# Creating Dictionary
d = {'id': [11, 22, 10, 12],
	'val1': ['a', 'b', 'c', 'd']}

a = pd.DataFrame(d)

# Creating dataframe b
b = pd.DataFrame()

# Creating dictionary
d = {'id': [11, 22, 9, 8],
	'val1': ['u', 'n', 'r', 's']}
b = pd.DataFrame(d)

# right outer join
df = pd.merge(a, b, on='id', how='left')

# display dataframe
df

   id val1_x val1_y
0  11      a      u
1  22      b      n
2  10      c    NaN
3  12      d    NaN

4) Write a program with input Dictionaries using Right Join

In [4]:
# importing pandas
import pandas as pd

# Creating dataframe a
a = pd.DataFrame()

# Creating Dictionary
d = {'id': [11, 22, 10, 12],
	'val1': ['a', 'b', 'c', 'd']}

a = pd.DataFrame(d)

# Creating dataframe b
b = pd.DataFrame()

# Creating dictionary
d = {'id': [11, 22, 9, 8],
	'val1': ['u', 'n', 'r', 's']}
b = pd.DataFrame(d)

# right outer join
df = pd.merge(a, b, on='id', how='right')

# display dataframe
df

   id val1_x val1_y
0  11      a      u
1  22      b      n
2   9    NaN      r
3   8    NaN      s

5) Write a program with input Dictionaries using Left Join

In [5]:
# importing pandas
import pandas as pd

# Creating dataframe a
a = pd.DataFrame()

# Creating Dictionary
d = {'id': [1, 2, 10, 12],
	'val1': ['a', 'b', 'c', 'd']}

a = pd.DataFrame(d)

# Creating dataframe b
b = pd.DataFrame()

# Creating dictionary
d = {'id': [11, 12, 10, 12],
	'val1': ['p', 'q', 'r', 's']}
b = pd.DataFrame(d)

# left outer join
df = pd.merge(a, b, on='id', how='left')

# display dataframe
df

   id val1_x val1_y
0   1      a    NaN
1   2      b    NaN
2  10      c      r
3  12      d      q
4  12      d      s

6) Write a program with the below DataFrame and execute Group by 'continent' and print one of the continents using pandas groupby function
```
   DataFrame({'continent' : ['Asia','NorthAmerica','NorthAmerica','Europe','Europe', 'Europe','Asia', 'Europe', 'Asia'],
               'country' : ['China', 'USA', 'Canada', 'Poland', 'Romania', 'Italy', 'India', 'Germany', 'Russia'],
               'Member_G20' : ['Y', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y']})
```

In [10]:
import numpy as np

df = pd.DataFrame({'continent' : ['Asia','NorthAmerica','NorthAmerica','Europe','Europe', 'Europe','Asia', 'Europe', 'Asia'],
               'country' : ['China', 'USA', 'Canada', 'Poland', 'Romania', 'Italy', 'India', 'Germany', 'Russia'],
               'Member_G20' : ['Y', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y']})

grp=df.groupby(['continent'])
selected_group = grp.get_group('Europe')
selected_group

  continent  country Member_G20
3    Europe   Poland          N
4    Europe  Romania          Y
5    Europe    Italy          N
7    Europe  Germany          N

7) Write a program using pandas groupby filter by column values and conditional aggregation on the below DataFrame.
```
   DataFrame({'continent' : ['Asia','NorthAmerica','NorthAmerica','Europe','Europe', 'Europe','Asia', 'Europe', 'Asia'],
               'country' : ['China', 'USA', 'Canada', 'Poland', 'Romania', 'Italy', 'India', 'Germany', 'Russia'],
               'Member_G20' : ['Y', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y']})
```
   - Execute Groupby continent who are G20 Member

In [6]:
import numpy as np

df = pd.DataFrame({'continent' : ['Asia','NorthAmerica','NorthAmerica','Europe','Europe', 'Europe','Asia', 'Europe', 'Asia'],
               'country' : ['China', 'USA', 'Canada', 'Poland', 'Romania', 'Italy', 'India', 'Germany', 'Russia'],
               'Member_G20' : ['Y', 'N', 'Y', 'N', 'Y', 'N', 'Y', 'N', 'Y']})

df.groupby(['continent']).apply(lambda x: x[x['Member_G20'] == 'Y' ])

                   continent  country Member_G20
continent
Asia         0          Asia    China          Y
             6          Asia    India          Y
             8          Asia   Russia          Y
Europe       4        Europe  Romania          Y
NorthAmerica 2  NorthAmerica   Canada          Y

8) Create the below DataFrame with four columns ```(name, age, gender, and score)```. Use the ```filter()``` function to select only two columns ```(name and age)``` and the ```loc[]``` function to filter the rows based on the condition that the age column is greater than or equal to 30.
```
    'name': ['Alice', 'Bob', 'Charlie', 'Dave'],
    'age': [25, 32, 30, 45],
    'gender': ['F', 'M', 'M', 'M'],
    'score': [80, 90, 70, 85]
```

In [13]:
import pandas as pd

# create the DataFrame
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'Dave'],
    'age': [25, 32, 30, 45],
    'gender': ['F', 'M', 'M', 'M'],
    'score': [80, 90, 70, 85]
}
df = pd.DataFrame(data)

# filter the DataFrame based on a condition
filtered_df = df.filter(items=['name', 'age']).loc[df['age'] >= 30]

# print the filtered DataFrame
print(filtered_df)

      name  age
1      Bob   32
2  Charlie   30
3     Dave   45

9) Create two dataframes ```df1 and df2```, each with a ```key and value``` column. Merge the dataframes based on the key column using the ```merge()``` function, and store in merged_df.
```
        df1         'key': ['A', 'B', 'C', 'D'],
                    'value': [1, 2, 3, 4]

        df2         'key': ['B', 'D', 'E', 'F'],
                    'value': [5, 6, 7, 8]
```

In [15]:
import pandas as pd

# Create the first dataframe
df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'],
                    'value': [1, 2, 3, 4]})

# Create the second dataframe
df2 = pd.DataFrame({'key': ['B', 'D', 'E', 'F'],
                    'value': [5, 6, 7, 8]})

# Merge the dataframes on the 'key' column
merged_df = pd.merge(df1, df2, on='key')

# Print the merged dataframe
print(merged_df)

  key  value_x  value_y
0   B        2        5
1   D        4        6